{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <div class="banner" style="background-image: url({% static 'images/banner.jpg' %})"></div>
    <div class="container content" style="margin-top: 40px;">
        <h1 class="text-center">Welcome to Genomic Prediction!</h1>
        <h4 class="text-center"></h4>
        <p style="margin-top: 40px; margin-bottom: 120px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus neque tellus, et dapibus massa varius tempus. Nullam tempus purus bibendum neque varius blandit. Praesent sodales ante at facilisis rhoncus. Quisque laoreet gravida felis in volutpat. Phasellus gravida ligula mauris, sed blandit libero facilisis sed. Sed venenatis magna vitae velit porttitor accumsan. Morbi consequat, tortor at mattis mollis, nisl tellus viverra enim, sit amet rhoncus quam ligula sed enim. Quisque nulla lorem, bibendum vel sagittis sit amet, commodo in ligula. Donec tristique turpis vitae consectetur vestibulum. Curabitur eu urna cursus, gravida lectus eget, hendrerit metus.

        Phasellus cursus at leo eu scelerisque. Mauris rhoncus, arcu sed elementum viverra, orci lorem volutpat tellus, vel cursus risus diam at ipsum. Proin sed massa nibh. Vestibulum hendrerit orci lacus, id euismod massa commodo ac. Nullam condimentum augue et gravida consequat. Aliquam pretium vestibulum nisi, id eleifend justo mattis vitae. Phasellus rutrum massa est, sit amet elementum ante hendrerit tincidunt. Sed tristique et eros ut rutrum. Integer egestas purus ac viverra luctus. Duis lacus urna, porta condimentum est nec, faucibus imperdiet lectus. Nulla ac malesuada odio. Nam ante orci, condimentum a lacus a, scelerisque pellentesque lorem.

        Etiam ligula velit, euismod eu gravida non, iaculis a magna. Donec at augue odio. Duis hendrerit elementum sem non porta. Praesent at lectus sollicitudin, venenatis odio ut, luctus metus. Suspendisse interdum lacinia tellus in consectetur. Sed in diam ut dui luctus condimentum. Quisque a neque nec ipsum mollis malesuada nec vitae magna. Suspendisse finibus mollis lorem, sit amet eleifend metus faucibus eget. Vestibulum et mattis tellus. Integer aliquam vehicula lacinia. Fusce eget consectetur augue. Aliquam laoreet pellentesque justo, et pellentesque mi imperdiet sed. Praesent quis mauris mattis, elementum ligula eu, dictum enim. Phasellus erat lectus, condimentum a pretium a, vehicula id nisi.

        Donec in ultricies quam. Quisque tincidunt, urna ut vulputate lacinia, nulla nisl sollicitudin odio, ut tristique neque dolor ut ante. Integer nec nunc tristique, convallis quam sit amet, finibus ipsum. Maecenas ut lorem vitae enim convallis cursus. Suspendisse nec tellus mattis, posuere mi vel, sagittis ligula. Etiam eleifend semper suscipit. Vivamus ac elit nec enim semper placerat sed id mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eleifend risus ultrices, consequat mi eget, bibendum nulla.

        Suspendisse accumsan, nulla ac scelerisque tincidunt, lacus eros facilisis augue, sit amet pulvinar quam est ut eros. Aliquam ac libero turpis. Donec maximus semper mollis. Suspendisse interdum vehicula euismod. Sed dignissim libero vel tincidunt varius. Duis ac aliquet est. Duis vulputate gravida odio, id dapibus quam rutrum in. Ut id augue nunc. Aliquam elit lacus, mattis a magna at, blandit ultrices leo.</p>
        </div>
{% endblock %}