html, body{
    height: 100%;
}

.wrap{
    min-height: 100%;
}

.banner{
    height: 500px;
    background-size: cover;
}

#main-nav a{
    font-size: 17px;
    color: #000;
}

#menu-btn{
    position: relative;
    padding-right: 34px;
}

#menu-btn i{
    position: absolute;
    font-size: 30px;
    right: 0; top: -3px;
}

footer{
    background: #555;
    padding: 20px 0;
    color: #fff;
}

.shader{
    position: fixed;
    top: 0;
    left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.12);
    visibility: hidden;
}

#side-menu{
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 300px;
    background: #f8f8f8;
    box-shadow: -4px 0 8px rgba(0,0,0,0.07);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

body.menu-open #side-menu{
    right: 0;
}

body.menu-open .shader{
    visibility: visible;
}

#side-menu ul{
    list-style: none;
    padding: 20px 0 20px 0;
    position: relative;
}

#side-menu ul li{
    display: block;
}

#side-menu ul li.divider{
    padding-top: 34px;
    margin-bottom: 34px;
    border-bottom: 1px solid #ddd;
}

#side-menu ul li a{
    display: block;
    padding: 12px 26px 12px 60px;
    color: #666;
    position: relative;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#side-menu ul li.last a{
    border-bottom: none;
}

#side-menu ul li a i{
    position: absolute;
    font-size: 30px;
    top: 0px; left: 20px;
    color: #79aec8;
}

#side-menu ul li a:hover{
    background: #79aec8;
    color: #fff;
    text-decoration: none;
}

#side-menu ul li a:hover i{
    color: #fff;
}

.side-menu-close{
    position: absolute;
    top: 5px;
    left: -40px;
    font-size: 50px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.side-menu-close:hover{
    transform: scale(1.1);
}

.social a{
    font-size: 20px;
}

.social a i{
    padding: 0 10px;
}

footer .nav-item .nav-link{
    color: #fff !important;
    font-size: 12px;
}

footer .social .nav-item .nav-link{
    color: #fff !important;
    font-size: 20px;
}
