{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" height="30" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Product 1</a>
                        <a class="dropdown-item" href="#">Product 2</a>
                        <a class="dropdown-item" href="#">Product 3</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="menu-btn" href="http://example.com" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu <i class="ion-navicon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrap">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container">
        <div class="text-center">
            <p>&copy; Genomic Prediction, 2017</p>
        </div>
        <ul class="nav justify-content-center social">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="ion-social-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="ion-social-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="ion-social-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="ion-social-googleplus"></i></a>
            </li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Link</a>
            </li>
        </ul>
    </div>
</footer>

<div class="shader"></div>
<div id="side-menu">
    <ul>
        <li><a href="#"><i class="ion-erlenmeyer-flask"></i> About</a></li>
        <li><a href="#"><i class="ion-nuclear"></i> For Reproductive Testing</a></li>
        <li class="last"><a href="#"><i class="ion-beaker"></i> For Laboratories</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="ion-ribbon-b"></i> Patient Portal</a></li>
        <li class="last"><a href="#"><i class="ion-earth"></i> Provider Portal</a></li>
    </ul>
    <span class="side-menu-close"><i class="ion-ios-close-empty"></i></span>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

{% block footer_js %}{% endblock %}

<script>
    $(function(){
        $('#menu-btn, .side-menu-close').on('click', function(){
            $('body').toggleClass('menu-open');
        });

        $('.shader').on('click', function(){
            $('body').removeClass('menu-open');
        });
    });
</script>

</body>
</html>